<div class='container'>
  <div class="events_in_state">
    <h5>Events in Your State</h5>
  <%= render partial: "event/partials/events_tables", locals: {eventList: @events_in_state} %>
  </div>
  <div class="events_out_of_state">
    <h5>Some Events Outside Your State</h5>
    <%= render partial: "event/partials/events_tables", locals: {eventList: @events_out_of_state} %>
  </div>
  <div class='add_event'>
    <form action='<%= event_create_path %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <div class='form-group row'>
        <p>New Event:</p>
        <label class='col-md-1' for='event[name]'>Title</label><input class='col-md-2' name='event[name]' type='text' value='<%= @event.name %>'/>
        <label class='col-md-1' for='event[date]'>Date</label><input class='col-md-2' name='event[event_date]' type='date' value='<%= @event.event_date %>'/>
        <label class='col-md-1' for='event[name]'>Location</label><input class='col-md-2' name='event[location]' type='text' value='<%= @event.location %>'/>
        <label class='col-md-1' for='event[state]'>State</label>
        <select name='event[state]'>
          <% @states.each do |s| %>
          <option class='col-md-1' value="<%= s.abbr %>"
             <% if @event.state != "" && s.abbr == @event.state %>
            selected
            <% end %>
          ><%= s.abbr %>
          </option>
          <% end %>
        </select>
      </div>
      <div class='row'>
        <span class='col-md-11'></span>
        <button class='btn btn-primary col-md-1' type='submit'>Add Event</button>
      </div>
    </form>
  </div>
  <div>
    <sub>Event#index</sub>
    <sub>Find me in app/views/event/index.html.erb</sub>
  </div>
</div>
